@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(51, 51, 51);
    color: rgb(190, 190, 190);
  }
